/* General Styling Overrides */
.expanding-table tr.info-row td:first-child {
  text-align: center;
  background-color: #3489ca;
  color: white;
  position: relative;
  transition: all 0.3s ease;
}

.expanding-table tr.info-row td:first-child:hover {
  opacity: .8;
}

.expanding-table tr.info-row td:first-child span {
  cursor: pointer;
  padding-left: 0rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
